<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="auto">

<head>
    <meta charset="UTF-8">
    <title>Diagnostic Tests help | yell0wsuit</title>
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face {
            font-family: 'Inter';
            src: url("../styles/fonts/Inter.var.woff2") format("woff2-variations");
            font-weight: 300 900;
            font-stretch: 35% 100%;
            font-style: normal;
        }

        * {
            font-family: Inter, system-ui, sans-serif;
        }

        .bi {display: inline-block; vertical-align: -.125em; fill: currentcolor}
    </style>
</head>

<body>
    <div class="container d-flex align-items-stretch">
        <div class="p-4 p-md-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-5">
                    <h1 class="text-center fw-bold">Diagnostic Tests</h1>
                    <p class="mb-4 text-center lead">by Michael Swan and David Baker</p>
                    <p class="mb-4 text-center fs-4"><a id="toggleThemeID" href="javascript:void(0)">Toggle theme: Auto</a></p>
                    <h3 class="fw-semibold mb-4">
                        <a name="_Contents"></a>Contents
                    </h3>
                    <h5 class="mb-4 mt-4">
                        <a href="#_1_What_are">What are these tests?</a>
                    </h5>
                    <h5 class="mb-4 mt-4">
                        <a href="#_2_Using">Using the tests</a>
                    </h5>
                    <h5 class="mb-4 mt-4">
                        <a href="#_3_Levels">Levels</a>
                    </h5>
                    <h5 class="mb-4 mt-4">
                        <a href="#_4_Correctness">Correctness: not too little, not too much</a></h3>
                    </h5>
                    <h5 class="mb-4 mt-4">
                        <a href="#_5_Notes">Two important notes for teachers</a></h3>
                    </h5>
                    <div class="mt-5 mb-5 border-top"></div>
                    <h4 class="fw-semibold mb-4 mt-4">
                        <a name="section_1"></a><a name="_1_What_are"></a>What are these tests?
                    </h4>
                    <p>They are <b>diagnostic tests</b>, designed to be used with <strong><i>Practical English Usage</i> (Fourth Edition)</strong>.</p>
                    <p>They will help you to check what you know, and what you don't know, about English grammar and usage. By using these tests you can discover what you need to learn, and where to find the necessary explanations.</p>
                    <p>The tests are at three levels:</p>
                    <ul>
                        <li class="mb-2">Upper Intermediate (29 tests)</li>
                        <li class="mb-2">Advanced (29 tests)</li>
                        <li>Expert (29 tests)</li>
                    </ul>
                    <p>Each test has questions on one general area of grammar usage (for example ‘past and perfect tenses’, ‘comparison’, ‘noun clauses and indirect speech’).</p>
                    <p><a name="_2_Model_mode"></a><a href="#_Contents">Back to Help contents</a></p>
                    <div class="mt-5 mb-5 border-top"></div>
                    <h4 class="fw-semibold mb-4 mt-4">
                        <a name="_2_Using"></a>Using the tests
                    </h4>
                    <p>You can use these tests to check your knowledge of a particular area of grammar or usage.</p>
                    <ul>
                      <li class="mb-2">Choose the level (for example Upper Intermediate) that you think is right for you.</li>
                      <li class="mb-2">Choose a test at that level. There are a number of exercises for each test.</li>
                      <li class="mb-2">Answer all questions within an exercise before checking your answers. Or you can choose to skip the whole exercise.</li>
                      <li class="mb-2">On checking your answers, links to relevant entries in <i>Practical English Usage</i> will appear. Follow the links to find explanations for each point. The <i>Practical English Usage</i> page will open in a new browser tab.</li>
                      <li class="mb-2">Select &lsquo;Results&rsquo; at the end of a test to see a summary of results. The &lsquo;summary of results&rsquo; shows your most recent performance in a particular test.  </li>
                      <li>The &lsquo;List of tests&rsquo; shows you which tests you have already attempted. Use this page to try a test again, preferably a few days later, and see if you can now get more or less everything right.</li>
                    </ul>
                    <p><a name="_2_Model_mode"></a><a href="#_Contents">Back to Help contents</a></p>
                    <div class="mt-5 mb-5 border-top"></div>
                    <h4 class="fw-semibold mb-4 mt-4">
                        <a name="_3_Levels"></a>Levels
                    </h4>
                    <p>You don't need to choose the same level for all the tests. You may, for example, know enough about present tenses to do the Advanced test, but find that the Upper Intermediate test is better suited to your knowledge of prepositions.</p>
                    <p>If you find a test too easy or too difficult, try a higher or lower level for that language point. If most of Upper Intermediate tests are too hard for you, it may be best to wait until later before using the book. If you can do all the Expert-level tests without difficulty, congratulations: you have remarkable knowledge of English, and don't need these tests!</p>
                    <p><a name="_2_Model_mode"></a><a href="#_Contents">Back to Help contents</a></p>
                    <div class="mt-5 mb-5 border-top"></div>
                    <h4 class="fw-semibold mb-4 mt-4">
                        <a name="_4_Browser_Compatability"></a>Correctness: not too little, not too much
                    </h4>
                    <p>Not everybody needs the same level of correctness in a foreign language.</p>
                    <ul>
                      <li class="mb-2">Some people just need a practical working knowledge of English in order to be able to communicate reasonably successfully. However, if they make too many mistakes with the common structures, they can be difficult to understand. The Upper Intermediate tests will help with problems at that level.</li>
                      <li class="mb-2">Other language learners and users need quite a high level of correctness for their studies or their work, especially if they need to write in English. They will find the Advanced tests useful.</li>
                      <li>Absolute correctness in a foreign language is generally unnecessary, and out of reach of most adult learners. But some very advanced students may want their English to be as free from error as possible. The Expert-level tests are designed for such learners. These tests will also be useful for non-native speaking teachers of English.</li>
                    </ul>
                    <p>Remember: grammar is not the only part of a language that has to be learnt and practised; it is not even the most important part. Don't get obsessed with correctness; otherwise you will end up just learning grammar instead of learning English. Use these tests sensibly, in moderation, to help you meet your own personal needs.</p>
                    <p><a name="_2_Model_mode"></a><a href="#_Contents">Back to Help contents</a></p>
                    <div class="mt-5 mb-5 border-top"></div>
                    <h4 class="fw-semibold mb-4 mt-4"><a name="_5_Notes"></a>Two important notes for teachers</h4>
                    <ol>
                      <li class="mb-2">These are <b>diagnostic</b> tests, not grading tests or attainment tests. Their function is <b>not</b> to assign students to levels, to enable you to give students marks for their work, or to draw an imaginary line between &lsquo;success&rsquo; and &lsquo;failure&rsquo;. They are not appropriate tools for such purposes, and we should be sorry if these tests were used in these ways. The tests are best used for syllabus planning: to check learners' strengths and weaknesses in particular linguistic areas, so as to show what still needs to be taught. They will help you to answer questions like &lsquo;What problems do my students still have with basic tense use?&rsquo;, &lsquo;Are they having trouble with relative clauses?&rsquo; or &lsquo;Do they know enough about spoken grammar?&rsquo; </li>
                      <li>Testing can be an easy option for teachers; and because of this, teachers can be tempted to spend too much time on tests. Bear in mind that teaching time is limited, and testing is not teaching. Asking people what they know doesn't teach them anything very much; it simply tells you what they may need to learn.</li>
                    </ol>

                    <p><a href="#_Contents">Back to Help Contents</a></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        let changeThis = document.getElementById("toggleThemeID");
        changeThis.onclick = toggleTheme;
        
        const HTML_theme = document.getElementsByTagName("html");
        let currentTheme = HTML_theme[0].getAttribute("data-bs-theme");
        if (currentTheme === 'auto') {
            window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        }
        
        function toggleTheme() {
            switch (changeThis.innerHTML) {
                case "Toggle theme: Auto":
                    changeThis.innerHTML = "Toggle theme: Light";
                    setTheme('light');
                    localStorage.setItem('theme', 'light');
                    break;
                case "Toggle theme: Light":
                    changeThis.innerHTML = "Toggle theme: Dark";
                    setTheme('dark');
                    localStorage.setItem('theme', 'dark');
                    break;
                case "Toggle theme: Dark":
                    changeThis.innerHTML = "Toggle theme: Auto";
                    setTheme('auto')
                    localStorage.setItem('theme', 'auto');
                    break;
                default:
                    changeThis.innerHTML = "Toggle theme: Auto";
                    setTheme(getPreferredTheme())
                    localStorage.setItem('theme', 'auto');
            }
        }
        
        /*!
         * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
         * Copyright 2011-2022 The Bootstrap Authors
         * Licensed under the Creative Commons Attribution 3.0 Unported License.
         */

        const storedTheme = localStorage.getItem('theme');
        
        if (storedTheme) {
            const fistString = storedTheme;
            const secondString = fistString.charAt(0).toUpperCase() + fistString.slice(1);
            changeThis.innerHTML = "Toggle theme: " + secondString;
        }
        
        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }

            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }
        
        
        const setTheme = function(theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }
        
        setTheme(getPreferredTheme())
        
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
            if (storedTheme !== 'light' || storedTheme !== 'dark') {
                setTheme(getPreferredTheme())
            }
        })
        
        window.addEventListener('DOMContentLoaded', () => {
            setTheme(getPreferredTheme())
        })
    </script>
</body>

</html>