<div class="template mRadioCtrl" ng-controller="mRadioCtrl">
	<div class="rubric"><span class="rubricNo">{{d.curr+1}}</span> <span class="rubricText" ng-bind-html="d.exercise.rubric | sanitize"></span></div>
	<div class="questions">
		<div class="rwDiv"><span ng-repeat="x in d.exercise.rwText track by $index" ng-bind-html="x | sanitize"></span></div>
                <div class="sampleSet" ng-if='d.exercise.hasOwnProperty("sample")' ng-repeat="a in d.exercise.sample" repeat-done="loaded()">
                     
			<div class="sampleTxt" ng-bind-html="a.text | sanitize" ng-disabled="checkData(a.text)"></div>
			
			<div class="radioC" data-ans="">
				<div class="radioBtn" ng-class="{'selected': a.answer.right == x }" ng-repeat="x in d.exercise.rwText track by $index">
					
					<span class="radio"><i></i></span>
					<span class="radioTxt">{{x}}</span>
				</div>
				<!-- <div class="radioBtn" ng-click="radioClick($event,'w')"><span class="patch"></span><span class="radio"><i></i></span><span class="radioTxt">W</span></div> -->
			</div>
		</div>
                
                
		<div class="questionSet" ng-repeat="a in d.exercise.question" repeat-done="loaded()">
                     <div class=" input_text" ng-if='a.hasOwnProperty("input_text")' ng-bind-html="a.input_text | sanitize"></div>
			<div class="qTxt" ng-bind-html="a.text | sanitize" ng-disabled="checkData(a.text)"></div>
			<div class="qTxt" ng-bind-html="a.item | sanitize" ng-disabled="checkData(a.item)"></div>
			<div class="radioC" data-ans="">
				<div class="radioBtn" ng-click="radioClick($event,x)" ng-repeat="x in d.exercise.rwText track by $index">
					<span class="patch p_{{Rclean(x)}}"></span>
					<span class="radio"><i></i></span>
					<span class="radioTxt" ng-bind-html="x | sanitize"></span>
				</div>
				<!-- <div class="radioBtn" ng-click="radioClick($event,'w')"><span class="patch"></span><span class="radio"><i></i></span><span class="radioTxt">W</span></div> -->
			</div>
		</div>
		<div class="disabler" ng-show="disable"></div>
	</div>
	<div class="linkFeedback">
		     <div class="feedback_wrapper">
 <div class="feedback_header">Where to go in <i>Practical English Usage</i></div>
    <ul>
          <li ng-repeat="f in d.exercise.feedback" ng-bind-html="f.desc | sanitize"></li>
    </ul>
    </div>
	</div>
	<div class="btn skip" ng-show="!disable" ng-click="nextExercise('skip')" >Skip</div>
	<div class="btn next" ng-click="nextExercise()"  ng-if="d.curr < (d.size - 1)">Next</div>
	<div class="btn checkAns" ng-show="!disable" ng-click="checkAns()">Check my answers</div>
            <div class="btn resultsBtn" ng-show="disable" ng-click="results(d.level)" ng-if="d.curr >= (d.size - 1)">Results</div> 
</div>