<div class="template multi_touch_button" ng-controller="multi_touch_button">
    <div class="rubric">
        <span class="rubricNo">{{d.curr + 1}}</span> <span class="rubricText fw-semibold" ng-bind-html="d.exercise.rubric | sanitize"></span>
    </div>

    <div class="questions">
        <div class="questionSet" ng-repeat="a in d.exercise.question" on-finish-render="setW()">
            <div class="input_text" ng-if='a.hasOwnProperty("input_text")' ng-bind-html="a.input_text | sanitize"></div>
            <div class="qTxt" data-ques="{{$index}}" ng-bind-html="a | multiTouchText | sanitize"></div>
        </div>
        <div class="disabler" ng-show="disable"></div>
    </div>
    <div class="linkFeedback">
        <div class="card">
            <div class="card-header bg-primary-subtle fw-bold">Explanations / answers</div>
            <div class="card-body">
                <ul>
                    <li ng-repeat="f in d.exercise.feedback.xrefGroup.xref">{{f.text}}</li>
                </ul>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary skip" ng-click="nextExercise()">Skip</button>
    <button type="button" class="btn btn-success checkAns" ng-show="!disable" ng-click="checkAnswer()">Check my answers</button>
    <button type="button" class="btn btn-success next" ng-show="disable" ng-click="nextExercise()" ng-if="d.curr < (d.size - 1)">Next</button>
    <button type="button" class="btn btn-success resultsBtn" ng-show="disable" ng-click="results(d.level)" ng-if="d.curr >= (d.size - 1)">
        Results
    </button>
</div>
