<div  class="template" ng-controller="orderSentence">
		
	<div class="rubric"><span class="rubricNo">{{d.curr+1}}</span> <span class="rubricText" ng-bind-html="d.exercise.rubric | sanitize"></span></div>
     
     <div class="order_activityArea">
           
         <div class="questionSet_orderdnd" ng-repeat="a in d.exercise['question'] track by $index" >
        <ul ui-sortable="sortableOptions" ng-model="d.exercise['question'][$index]['text']" class="quesWrap">       
		
               <li class="reorderli qword " ng-repeat="i in d.exercise['question'][$index]['text'] track by $index"  >
                  <div class="reorderOptions" ng-class="d.exercise['question'][$parent.$index]['class']">
                  {{d.exercise['question'][$parent.$index]['text'][$index]["item"]}}
                  </div>
              </li> 
              <li class="reorderli">
                 <div class="reorderQuestion">
                  {{d.exercise['question'][$index]['last']}}
                 </div>
               
                 <div class="status">
                  
                </div>
                       
                       
              </li>
        </ul>
        </div>
            <div class="disabler" ng-show="disable"></div>
    </div>
		<div class="linkFeedback">
		     <div class="feedback_wrapper">
 <div class="feedback_header">Explanations / answers</div>
    <ul>
          <li ng-repeat="f in d.exercise.feedback" ng-bind-html="f.desc | sanitize"></li>
    </ul>
    </div>
	</div>
    <button type="button" class="btn btn-secondary skip" ng-show="!disable" ng-click="nextExercise()">Skip</button>
           
    <button type="button" class="btn btn-success checkAns" ng-show="!disable" ng-click="checkAnswer()">Check my answers</button>
    <button type="button" class="btn btn-success next" ng-show="disable" ng-click="nextExercise()" ng-if="d.curr < (d.size - 1)">Next</button> 
        <button type="button" class="btn btn-success resultsBtn" ng-show="disable" ng-click="results(d.level)" ng-if="d.curr >= (d.size - 1)">Results</button> 
    
        
</div>
